# Express server configuration
PORT=5001
JWT_SECRET=AxisSuperSecureBrandSecret2026Key!

# PostgreSQL Database credentials
DB_USER=axis_db_user
DB_PASSWORD=axis_db_password
DB_HOST=localhost
DB_PORT=5432
DB_NAME=axis_training_calendar
